.git
.gitignore
.gitattributes
.editorconfig
.npmrc
.env
.env.*
!.env.example
.claude
.phpunit.result.cache
phpunit.xml
tests

node_modules
vendor
public/build

storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

*.log
.dockerignore
render.yaml
